/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

.jumbotron {
    position: relative;
    background: url("http://s21.postimg.org/6f5xz1btz/feet_hanging_off_building_compressor.jpg") center center;
    width: 100%;
    min-height: 600px;
    background-size: cover;
    overflow: hidden;
}

h2{
  color: #660000;
  font-family: "Palatino"
}