@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

.alert-notice {
  color: #DB973D;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.jumbotron {
    position: relative;
    background: #72655E;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
}

h2{
  font-color: #FFFFFF;
  font-family: "Palatino";
}

.well{
  background: #F6B220;
  opacity: 0.95;
  border:none;
  min-height: 400px;
  font-family: 'Courier-New';

}

.navbar{
   background:transparent;
   border:none;
}

body{
  background: url("https://images.unsplash.com/photo-1436874555419-bb64221c5c1d?q=80&fm=jpg&s=4593f78e972ee577c98775d55b66a344") no-repeat center center ;

}